@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.TitleText {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  margin-left: 45px;
  text-shadow: 3px 2px 2px rgba(106, 209, 175, 0.863);
}

h1 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.774);
  background-color: rgba(199, 216, 216, 0.356);
  padding: 3px 20px 3px 20px;
}

